* {
    box-sizing: border-box;
}

html {
    height: 100%;
    width: 100%;
}
body {
    width: 100%;
    height: 100%;
}
.container {
    height: 100%;
    width: 100%;
    }
.gallery {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
    padding: 2em;
    width: 100%;
    height: 100%;
}
.pic {
    margin: 2em;
    max-width: 15%;
    max-height: 25%;
}
.pic:hover {
    transform: scale(1.1, 1.1);
}
.light-box {
    position: absolute;
    display: none;
    justify-content: center;
    align-content: center;
    height: 100%;
    width: 100%;
    background-color: rgba(125, 125, 125, 0.5);
    z-index: 1;
}
.light-box div {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.light-box div img {
    object-fit: contain;
    max-width: 100%;
}
.gallery-left {
    order: -1;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
    padding: 2em;
    width: 100%;
    height: 100%;
}
.gallery-left div {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
}
.gallery-left pic {
    display: flex;
}
.gallery-right {
    order: 1;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
    padding: 2em;
    width: 100%;
    height: 100%;
}